{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}

<style>

    .container{
        display: contents;

    }

    .filtreTd{
        border-right:1px solid black;
    }

    .filtreTd:hover{
        border-right:1px solid black;
        background-color: #343a40;
        color:white;
    }

    .filtre{
        width: 100%;
        text-align: center;
        height : 50px;
    }
    
</style>
<table class="filtre">
    <tr>
        <td class="filtreTd"><a href="{{ path('client_index_filter', {'id': '1'} ) }}">Demande en cours</a></td>
        <td class="filtreTd"><a href="{{ path('client_index_filter', {'id': '2'} ) }}"> Intervention en cour</a></td>
        <td class="filtreTd"><a href="{{ path('client_index_filter', {'id': '3'} ) }}">Intervention en attente</a></td>
        <td class="filtreTd"><a href="{{ path('client_index_filter', {'id': '4'} ) }}"> >50 dernières intervention</a></td>
    </tr>
</table>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Date_depot</th>
        <th scope="col">Date_restitution</th>
        <th scope="col">Session_user</th>
        <th scope="col">Password</th>
        <th scope="col">OS</th>
        <th scope="col">Equipement</th>
        <th scope="col">Client</th>
        <th scope="col">Equipement Incomplet</th>
        <th scope="col">Technicien</th>
        <th scope="col">typeInterventions</th>
        <th scope="col">actions</th>
        
        
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.dateDepot ? intervention.dateDepot|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention.dateRestitution ? intervention.dateRestitution|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention.sessionUser }}</td>
                <td>{{ intervention.password }}</td>
                <td>{{ intervention.OS }}</td>
                <td>{{ intervention.equipment }}</td>
                <td>{{ intervention.client }}</td>
                <td>
                {% for intervention in intervention.equipmentIncompletes %}
                                "{{ intervention.name }}"
                    {% endfor %}.
                </td>
                <td>
                {% for intervention in intervention.technicians %}
                                "{{ intervention.name }}"
                {% endfor %}.
                </td>
                <td>
                {% for intervention in intervention.typeInterventions %}
                                "{{ intervention.name }}"
                {% endfor %}.
                </td>
                <td>
                    <a href="{{ path('intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
    </tr>
  </tbody>
</table>

    <a href="{{ path('intervention_new') }}">Create new</a>
{% endblock %}


