{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Date_depot</th>
                <td>{{ intervention.dateDepot ? intervention.dateDepot|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_restitution</th>
                <td>{{ intervention.dateRestitution ? intervention.dateRestitution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Session_user</th>
                <td>{{ intervention.sessionUser }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ intervention.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('intervention_index') }}">back to list</a>

    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
