{% extends 'base.html.twig' %}

{% block title %}{{ 'New client'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new client'|trans }}</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}" class="btn btn-dark">{{ 'back to list'|trans }}</a>
{% endblock %}
