{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Lastname'|trans }}</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ client.firstname }}</td>
            </tr>
            <tr>
                <th>{{'Cellphone'|trans }}</th>
                <td>{{ client.celphone }}</td>
            </tr>
            <tr>
                <th>{{ 'Phone'|trans }}</th>
                <td>{{ client.fixe }}</td>
            </tr>
            <tr>
                <th>{{ 'Address'|trans }}</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ client.mail }}</td>
            </tr>
            <tr>
                <th>{{ 'Professional'|trans }}</th>
                <td>{{ client.professional ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}" class="btn btn-dark">{{ 'back to list'|trans }}</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">{{ 'Edit'|trans }}</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
